<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoodOleDelegates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAACFE651E58964800AA952F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAACFE791E58964900AA952F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAACFE841E58964900AA952F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
